{% import "forms/macros/crud-edit.html.twig" as crudEdit %}
{% extends "formatters/dt_crud_formatter.html.twig" %}
{% set forfield = 'notes' %}
{% block format_body %}
    <div class='row'>
        <div class='col-md-12'>
            <p>
                <strong>row.first_name row.last_name (row.id:row.user_id-row.family_id:row.order_id |row.enroll_date | row.payment_status)</strong>
                <br>
                row.notes
                <br>
                Paid : row.amount_paid, Balance Due : row.balance_due
                {{ crudEdit.generate(dtid,crudformdiv,'Update','genericDTCRUDSuccess') }}
            </p>
        </div>
    </div>
{% endblock %}    
