{% import "forms/macros/crud-edit.html.twig" as crudEdit %}
{% import "forms/macros/edit-pencil.html.twig" as pencil %}
{% extends "formatters/dt_crud_formatter.html.twig" %}
{% set forfield = 'body' %}
{% block format_body %}
    <div class='uf_message_format'>
        <strong>Status : </strong>{row.status}, <strong>Notification: </strong>{row.notification}
        {{pencil.add('ufmessage','status','/api/ufmessage/r/{row.id}/status','genericFieldEditSuccess')}}
        {row.body}
        {{ crudEdit.generate(dtid,crudformdiv,'Update','genericDTCRUDSuccess') }}
    </div>
{% endblock %}    
