{% import "forms/macros/crud-edit.html.twig" as crudEdit %}
{% import "forms/macros/edit-pencil.html.twig" as pencil %}
{% extends "formatters/dt_crud_formatter.html.twig" %}
{% set forfield = 'body' %}
{% block format_body %}
    <div class='uf_message_format'>
        row.body
        <span class='field_format' data-forfield='rowdata'>
            <span class="rs-conditional" data-forfield='rowdata.status'>
                <span class='rs-option' data-forfield='rowdata.status' data-value='A'>
                    <span class="label label-warning pull-right dismiss-ufmessage" onClick='dismissUfMessage(this,row.id)'>dismiss</span>
                </span>
            </span>
        </span>
    </div>
{% endblock %}    
