.uf_message_menu .uf_message {
    font-size: .8em;
}

.control-sidebar-bg,
.control-sidebar {
    right: -330px;
    width: 330px !important;
}

.control-sidebar .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2px !important;
}

.control-sidebar .dataTables_wrapper .dataTables_paginate .pagination>li>a {
    padding: inherit !important;
    border: none;
    text-decoration: underline;
}

.control-sidebar .dataTables_wrapper .dataTables_info {
    display: none;
}

.dismiss-ufmessage {
    text-decoration: underline;
}

.control-sidebar .crud-datatable {
    padding: inherit !important;
}

.ufmessage_dt .dt-search {
    padding-right: 2px;
}

.ufmessage_dt .dt-pagelength,
.ufmessage_dt .dt-snexpbtn {
    padding-left: 0px;
}

.ufmessage_dt .dt-snexpbtn {
    float: left !important;
}

.ufmessage_dt .dt-export-btn {
    padding: 9px 2px;
}